:root.dark {
  --color-gray-500: #FFFFFF;
  --color-gray-400: #FAFBFC;
  --color-gray-300: #F4F5F7;
  --color-gray-200: #EBECF0;
  --color-gray-100: #8E8E8E;
  --color-gray-50: #646464;
  --color-gray-40: #363636;
  --color-gray-30: #292929;
  --color-gray-20: #222224;
  --color-gray-10: #363636;
  --color-gray-00: #1E1E1E;
  --color-blue-60: #156FD1;
  --color-blue-50: #238FF3;
  --color-blue-40: #47A5F3;
  --color-green-60: #292929;
  --color-green-50: #0ACA9B;
  --color-green-40: #47D7B4;
  --color-green-10: #DCFAF5;
  --color-red-50: #F74455;
  --color-bg: #121212;
  --color-text: #121212;
}