:root.light {
  --color-gray-500: #091E42;
  --color-gray-400: #42526E;
  --color-gray-300: #5E6C84;
  --color-gray-200: #7A869A;
  --color-gray-100: #B3BAC5;
  --color-gray-50: #C1C7D0;
  --color-gray-40: #DFE1E6;
  --color-gray-30: #EBECF0;
  --color-gray-20: #F4F5F7;
  --color-gray-10: #FAFBFC;
  --color-gray-00: #FFFFFF;
  --color-blue-60: #156FD1;
  --color-blue-50: #238FF3;
  --color-blue-40: #47A5F3;
  --color-green-60: #09B188;
  --color-green-50: #0ACA9B;
  --color-green-40: #47D7B4;
  --color-green-10: #DCFAF5;
  --color-red-50: #F74455;
  --color-bg: #5E6C84;
  --color-text: #091E42;
}