@font-face {
  font-family: "Shabnam";
  src: url('src/assets/fonts/shabnam-font/Shabnam.eot');
  src: url('src/assets/fonts/shabnam-font/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/shabnam-font/Shabnam.woff2') format('woff2'),
    url('src/assets/fonts/shabnam-font/Shabnam.woff') format('woff'),
    url('src/assets/fonts/shabnam-font/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: "Shabnam";
  src: url('src/assets/fonts/shabnam-font/Shabnam-Bold.eot');
  src: url('src/assets/fonts/shabnam-font/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/shabnam-font/Shabnam-Bold.woff2') format('woff2'),
    url('src/assets/fonts/shabnam-font/Shabnam-Bold.woff') format('woff'),
    url('src/assets/fonts/shabnam-font/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: "Shabnam";
  src: url('src/assets/fonts/shabnam-font/Shabnam-Thin.eot');
  src: url('src/assets/fonts/shabnam-font/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/shabnam-font/Shabnam-Thin.woff2') format('woff2'),
    url('src/assets/fonts/shabnam-font/Shabnam-Thin.woff') format('woff'),
    url('src/assets/fonts/shabnam-font/Shabnam-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: "Shabnam";
  src: url('src/assets/fonts/shabnam-font/Shabnam-Light.eot');
  src: url('src/assets/fonts/shabnam-font/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/shabnam-font/Shabnam-Light.woff2') format('woff2'),
    url('src/assets/fonts/shabnam-font/Shabnam-Light.woff') format('woff'),
    url('src/assets/fonts/shabnam-font/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: "Shabnam";
  src: url('src/assets/fonts/shabnam-font/Shabnam-Medium.eot');
  src: url('src/assets/fonts/shabnam-font/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
    url('src/assets/fonts/shabnam-font/Shabnam-Medium.woff2') format('woff2'),
    url('src/assets/fonts/shabnam-font/Shabnam-Medium.woff') format('woff'),
    url('src/assets/fonts/shabnam-font/Shabnam-Medium.ttf') format('truetype');
  font-weight: 500;
}