@import './variables';

.header {
    text-align: center;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    background-color: $background-color;

    h1 {
        font-size: 24px;
        margin: 0;
        padding: 20px 0;
        color: $primary-color;
    }

    hr {
        border: 0;
        border-top: 1px solid $border-color;
        margin: 0;
        width: 100%;
    }
}
