@import './variables';

.user-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: $primary-color;

    .stories {
        display: flex;
        overflow-x: scroll;
        width: 100%;
        padding: 10px 0;
        position: fixed;
        top: 77.6px;
        background-color: $background-color;
        color: $primary-color;

        .story {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 5px;

            img {
                border-radius: 50%;
                width: 60px;
                height: 60px;
            }

            span {
                margin-top: 5px;
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .users {
        display: flex;
        flex-direction: column;
        margin-top: 211.4px;

        .user-info {
            display: flex;
            align-items: center;
            margin: 7.5px;

            img {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                margin: 5px;
            }

            .name {
                font-weight: bold;
                margin: 5px;
            }
        }

        .user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            .arrow-profile-visit {
                height: 25px;
                width: 25px;
            }
        }

        .break {
            border: 0;
            border-top: 1px solid $border-color;
            margin: 0;
            width: 100%;
        }
    }
}
